<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>SheetAction</servlet-name>
		<servlet-class>org.rabbit.servlets.SheetAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SheetAction</servlet-name>
		<url-pattern>/sa/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AjaxSheetAction</servlet-name>
		<servlet-class>org.rabbit.servlets.AjaxSheetAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AjaxSheetAction</servlet-name>
		<url-pattern>/ajax/sa/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AjaxEntryAction</servlet-name>
		<servlet-class>org.rabbit.servlets.AjaxEntryAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxEntryAction</servlet-name>
		<url-pattern>/ajax/ea/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EntryAction</servlet-name>
		<servlet-class>org.rabbit.servlets.EntryAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EntryAction</servlet-name>
		<url-pattern>/ea/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>TransactionAction</servlet-name>
		<servlet-class>org.rabbit.servlets.TransactionAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransactionAction</servlet-name>
		<url-pattern>/ta/*</url-pattern>
	</servlet-mapping>


	<!-- Servlets -->
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>jsonpEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>crossDomainSessionSecurity</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
